version: '2'
services:

  app:
    image: zuljinn666/tournament-service:1.1.0
    depends_on:
      - mongo
    ports:
      - 0.0.0.0:3003:3003
    environment:
      DB_NAME: ${DB_NAME}
      PORT: ${PORT}
      MONGO_DB_HOST: ${MONGO_DB_HOST}
      MONGO_DB_PORT: ${MONGO_DB_PORT}
    restart: on-failure:5

  mongo:
    image: mongo:3.2
    ports:
      - 0.0.0.0:3306:27017
    restart: on-failure:5